<div  class="page-header" style="margin-top: -15px;"> 
	<h1 >Upgrade Market </h1>
	Description of modest lenght about upgrades
</div>
<div  ng-repeat="item in upgrades | orderBy: 'id'">
	<button ng-click="item.buy()" ng-hide="item.unlocked" type="button" class="btn btn-default" style="width: 100%;position:relative; margin-bottom: .5em"> 
		<div style="overflow: visible"> 
			<div class="h3 upgrade-title text-left">
				{{item.title}}
			</div>
			<div style="top: 0;right: 0;position:absolute;padding: 6px 12px;" class="text-right">
				<div style="overflow: hidden;">
					<img ng-src="{{item.industry.imgfullsrc}}" alt="..." class="img-circle img-responsive" style="padding-left: 4px; height:2em; float: right">
					<div style="font-size: 1.2em;vertical-align: middle; line-height: 1.7em; float: right">{{item.cost | number}}</div>
				</div>			
			</div>
		</div>

		<div class="text-left" style="white-space: normal;"> 
			{{item.description}}
		</div>
	</button>
</div>