<!-- Industry.html -->
<div class="jumbotron text-center">
    <h1>Achievements</h1>

    <p>I am working on this next</p>
</div>
<div class="container">
    <div class="row tight">
    	<div class="col-md-4 well well-sm">
    		<div style="width: 30%; float: left">
    			<img src="images/taffy-CANDY.png" alt="..." class="img-circle img-responsive">
    		</div> 
    		<div style="width: 70%; float: left">
    			<h3> Achievement Title </h3>
    			<p> description of achievement </p>
    		</div>
    	</div> 
    </div>
</div>